body{
    background-image:url("https://ak.picdn.net/shutterstock/videos/20823079/thumb/1.jpg");
    font-family:cursive;
    font-size: 22px;
    background-size: cover;
    background-position: center;

}
#image_results
{
    box-shadow: 8px 8px 8px black;
    border-style:groove;
    border-width: 9px;
    border-radius: 5px;;
}
#heading
{
    font-size: 33px;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
}
.footer_div
{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(211, 206, 255);
    color:rgb(255, 255, 255);
    text-align: center;
    line-height: 3;
    font-size: 19px;
    text-shadow: 3px 3px 3px grey;
}